@font-face {
    font-family: "Tajawal-Medium";
    src: url("Tajawal-Medium.woff2") format("woff2");
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    margin-top: 20px;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}

button {
    border-radius:35px;
    padding: 20px 30px;
    background-color: #017257;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #017257;
}


.download-btn {
    border-radius: 35px;
    background-color: #017257;
}

.download-btn:hover {
    border-radius: 35px;
    background-color: #017257;
}
footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer span {
    color: #2BB673; /* اللون المميز لهلا */
    font-weight: bold;
}
canvas {
    max-width: 80%; /* يحدد الحد الأقصى للعرض */
    max-height: 60vh; /* يجعل التصميم متوسط الحجم كنسبة من الشاشة */
    display: block;
    margin: auto; /* يوسّطه في الصفحة */

}
